<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HCServlet</servlet-name>
        <servlet-class>za.co.cellc.synix.view.HCServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZjhbbtsNamesListBox</servlet-name>
        <servlet-class>za.co.cellc.synix.model.ZjhbBtsNamesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZjhbWbtsNamesListBox</servlet-name>
        <servlet-class>za.co.cellc.synix.model.ZjhbWBtsNamesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NeHtmlServlet</servlet-name>
        <servlet-class>za.co.cellc.synix.view.NeHtmlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CellNamesServlet</servlet-name>
        <servlet-class>za.co.cellc.synix.view.CellNamesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HCServlet</servlet-name>
        <url-pattern>/HCServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZjhbbtsNamesListBox</servlet-name>
        <url-pattern>/ZjhbbtsNamesListBox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZjhbWbtsNamesListBox</servlet-name>
        <url-pattern>/ZjhbWbtsNamesListBox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NeHtmlServlet</servlet-name>
        <url-pattern>/NeHtmlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CellNamesServlet</servlet-name>
        <url-pattern>/CellNamesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
