/* 
    Document   : table
    Created on : 03 Feb 2014, 3:26:31 PM
    Author     : Pierre.Venter
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.blingTable a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
.blingTable a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
.blingTable a:active,
.blingTable a:hover {
    color: #bd5a35;
    text-decoration:underline;
}
.blingTable {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:10px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:2px;
    border:#ccc 1px solid;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}
.blingTable th {
    padding:21px 25px 22px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.blingTable th:first-child {
    text-align: left;
    padding-left:2px;
}
.blingTable tr:first-child th:first-child {
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
.blingTable tr:first-child th:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
.blingTable tr {
    text-align: center;
    padding-left:2px;
}
.blingTable td:first-child {
    text-align: left;
    padding-left:2px;
    border-left: 0;
}
.blingTable td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.blingTable tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.blingTable tr:last-child td {
    border-bottom:0;
}
.blingTable tr:last-child td:first-child {
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
.blingTable tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
.blingTable tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}



.blingTable2 a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
.blingTable2 a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
.blingTable2 a:active,
.blingTable2 a:hover {
    color: #bd5a35;
    text-decoration:underline;
}
.blingTable2 {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size: 1em;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
/*    margin:2px;*/
    border:#ccc 1px solid;
    width: 100%;

/*    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;*/
}
.blingTable2 th {
    padding:21px 25px 22px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
/*.blingTable2 th:first-child {
    text-align: left;
    padding-left:20px;
}
.blingTable2 tr:first-child th:first-child {
    -moz-border-radius-topleft:1px;
    -webkit-border-top-left-radius:1px;
    border-top-left-radius:1px;
}
.blingTable2 tr:first-child th:last-child {
    -moz-border-radius-topright:1px;
    -webkit-border-top-right-radius:1px;
    border-top-right-radius:1px;
}*/
.blingTable2 tr {
    text-align: center;
    padding-left:2px;
}
.blingTable2 td:first-child {
    text-align: left;
    padding-left:2px;
    border-left: 0;
}
.blingTable2 td {
/*     padding:2px;
   border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;*/

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.blingTable2 tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.blingTable2 tr:last-child td {
    border-bottom:0;
}
/*.blingTable2 tr:last-child td:first-child {
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
.blingTable2 tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}*/
.blingTable2 tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}


